django-notifications-hq~=1.7.0
channels~=3.0.2
openwisp-users @ https://github.com/openwisp/openwisp-users/tarball/issues/270-organization-autocomplete
openwisp-utils[rest,celery] @ https://github.com/openwisp/openwisp-utils/tarball/fix-autocomplete-filter
markdown~=3.2.0
